* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

li {
  font-weight: bold;
}

span {
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (min-width: 375px) {
  h2 {
    font-size: 30px;
    font-weight: 700;
  }

  h3 {
    font-size: 25px;
    font-weight: 500;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
  }

  li {
    font-weight: bold;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }
}
