:root {
  --text-color: gray;
  --bg-cl-logo: #dfeaff;
  --cl-logo: #157eff;
  --cl-banner: white;
  --bg-color: #f4f5f8;
  --btn-color: #157eff;
  --border-color: #d4d4d4;
  --btn-essential-color: #333333;
}



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
